@charset "utf-8";
/* CSS Document */

/* box-sizing reset */

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- image resize --- */

img{
  max-width: 100%;
  height: auto;
}

/* screen reader styles */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 7000; 
}

/* -- general page styles -- */

body{
	font-family: 'Abel', sans-serif;
	font-size: 1em;
	color: #323131;
}

.wrapper{
  max-width: 1150px;
  margin: 0 auto;
}

.bg{
  background-color: black;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.57);
  box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.57);
}

.divider{
  position: relative;
  margin-top: 50px;
  height: 1px;
}

.div-transparent:before{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after{
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid rgb(48,49,51);
  border-right: 1px solid rgb(48,49,51);
}

/* -- overlay styles -- */

.about-wrapper{
  display:  block;
  position: fixed;
  width:  100vw;
  height:  100vh;
  background-color: rgba(0,0,0,0.94);
  overflow:  scroll;
  -ms-transform: translate( 100%, 0);
      transform: translate( 100%, 0);
  transition: all 0.6s ease;
  z-index: 8000; 
}

.show-menu{
  -ms-transform: translate(0);
      transform: translate(0);
}

.about-inner-wrapper{
  	max-width: 1150px;
  	margin: 0 auto;
}

.about-content{
	width: 66%;
  line-height: 1.8em;
  font-size: 1em;
  margin: 100px auto;
  color: white;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.about-content h2{
  text-transform: uppercase;
  font-size: 3.2em;
  font-weight: 900;
  line-height: 1.1em;
  letter-spacing: 10px;
  padding: 30px 0 25px;
  color: #DAA520;
  text-align: center;
}

.about-content p{
  padding-bottom: 25px;
}

.about-content p:nth-of-type(1){
  padding-top: 15px;
}

.btn-close{
  background-color:  transparent;
  border: #DAA520 thin solid;
  font-size: 1.7em;
  position: absolute;
  right: 0;
  margin-top: -68px;
  cursor: pointer;
  color: #DAA520;
  padding: 7px 10px;
}

.btn-close:after{
  content: "X";
}

.btn-close:hover,
.btn-close:focus,
.btn-close:active{
  outline: white thin solid;
  color: white;
}

/* -- nav styles -- */

.nav-main{
  height: 100px;
  max-width: 1150px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; 
}

.nav-main .logo a{
  padding: 10px 7px;
  line-height: 100px;
  color: #DAA520;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-decoration: none;
}

.nav-bar a{
  line-height: 100px;
  text-decoration: none;
  color: white;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 10px 7px;
}

.nav-bar{
  display: -ms-flexbox;
  display: flex;
  line-height: 100px;
}

.nav-bar li:nth-of-type(1){
  margin-right: 25px;
}

.btn-menu{
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.15em;
  cursor: pointer;
  font-family: 'Abel', sans-serif;
  background-color: transparent;
  padding: 10px 7px;
  border: none;
  color: white;
}

.nav-main a:hover,
.nav-main a:focus,
.nav-main a:active,
.btn-menu:hover,
.btn-menu:focus,
.btn-menu:active{
  outline: #DAA520 solid thin;
  color: #DAA520;
}

/* -- section branding -- */

#branding{
  padding-bottom: 125px;
  max-width: 1150px;
  margin: 0 auto;
}

.header-info{
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
}

.header-info h1{
  text-transform: uppercase;
  font-size: 3.5em;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 10px;
}

.header-info h1:after{
  content: ",";
  color: #DAA520;
}

.header-info h2{
  font-size: 1.8em;
  display: inline;
  line-height: 1.4em;
}

.header-logo{
  width: 40%;
  margin: 0 auto;
  padding: 40px 0;
}

.header-logo img{
  margin: 0 auto;
  display: block;
  width: 165px;
}

.rotateshape{
  -webkit-animation:rotateshape 25s linear infinite;
  -moz-animation:rotateshape 25s linear infinite;
  -o-animation:rotateshape 25s linear infinite;
  animation:rotateshape 25s linear infinite;
}

@-webkit-keyframes rotateshape{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotateshape{
  0%{-ms-transform:rotate(0deg);}
  100%{-ms-transform:rotate(360deg);}
}

@-o-keyframes rotateshape{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

@keyframes rotateshape{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* -- section intro -- */
/* wrapper begins*/

.title{
  text-align: center;
  margin: 60px 0 40px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 2.2px;
}

.title-p p{
  font-size: 1.15em;
  line-height: 1.5em;
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.process-wrapper{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 70px 0;
}

.group{
  width: 16.666%;
}

.group h4{
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: 'Lato', sans-serif;
  font-size: 0.75em;
  color: #DAA520;
  line-height: 1.5em;
}

.icon img{
  height: 55px;
  width: 55px;
  display: block;
  margin: 0 auto;
}

/* -- section portfolio -- */

#portfolio{
  margin: 50px 0;
}

.project-wrapper{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px auto;
}

.project{
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 35px;   
}

.project-info{
  position: relative;
  overflow: hidden;
  margin-bottom: 6px;
}

.project-info img{
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.project-info:hover img,
.project-info:focus img,
.project-info:active img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.btn-project{
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #323131;
  font-family: 'Lato', sans-serif;
  font-size: 0.75em;
  letter-spacing: 1.5px;
  padding: 10px;
  margin: 0 auto;
  display: block;
}

.btn-project:hover,
.btn-project:focus,
.btn-project:active{
  color: #DAA520;
  outline: #DAA520 thin solid;
}

/* -- footer styles -- */

.footer{
  margin-top: 50px;
  padding: 80px 0;
  background-color: #F1F1F1;
  text-align: center;
  line-height: 1.5em;
}

.footer h4{
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 2.2px;
  margin-bottom: 30px;
}

.footer p{
  margin-bottom: 40px;
  font-size: 1.05em;
}

.email{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #323131;
  padding: 10px 7px;
}

.email:hover,
.email:active,
.email:focus{
  color: #DAA520;
  outline: #DAA520 solid thin;
}

.social-icons-footer{
  margin-top: 40px;
}

.social-icons-footer img{
  width: 25px;
  height: 25px;
}

.social-icons-footer a{
  margin: 45px;
}

.signature{
  text-align: center;
  color: white;
  background-color: black;
  padding: 15px 0;
  font-size: 0.75em;
  font-family: 'Lato', sans-serif;
}

/* -- media queries begin --*/

@media screen and (max-width: 1175px){

  .wrapper,
  .nav-main,
  .about-inner-wrapper{
    width: 92%;
  }

  .about-content{
    width: 72%;
  }

  #branding{
    width: 92%;
  }

  .header-info,
  .header-logo{
    width: 50% ;
  }

}

@media screen and (max-width: 1100px ){

  .about-content{
    width: 80%;
  }

  .title-p p{
    width: 55%;
  }

}

@media screen and (max-width: 1020px){

  .header-info,
  .header-logo{
    width: 57% ;
  }

  .process-wrapper{
    margin-bottom: 0px;
  }

  .group{
    width: 33.33%;
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 895px){

  .header-info,
  .header-logo{
    width: 63% ;
  }  

  .title-p p{
    width: 65%;
  }

  .project{
    width: 43%;
    margin-left: 3.5%;
    margin-right: 3.5%;
  }

}

@media screen and (max-width: 800px){

  .about-content{
    width: 87%;
  }

  .header-info,
  .header-logo{
    width: 70% ;
  }

  .title-p p{
    width: 70%;
  }

}

@media screen and (max-width: 730px){

  .project{
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .header-info,
  .header-logo{
    width: 78% ;
  }

  .group{
    width: 50%;
  }

}

@media screen and (max-width: 645px){

  .nav-main{
  -ms-flex-pack: center;  
  justify-content: center;
    height: 65px;
  }

  .nav-main .logo a{
    line-height: 65px;
  }

  .nav-bar{
    line-height: 65px;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9000;
    background-color: black;
      -ms-flex-pack: center;  
      justify-content: center;
  }

  .nav-bar a{
    line-height: 65px;
    padding: 15px 115px;
  }

  .btn-menu{
    padding: 15px 115px;
  }

  .btn-menu:focus,
  .btn-menu:active,
  .btn-menu:hover,
  .nav-main a:focus,
  .nav-main a:active,
  .nav-main a:hover{
    outline: none;
  }

  .about-content{
    width: 86%;
  }

  .about-content h2{
    font-size: 2.8em;
    padding: 18px 0;
  }

  #branding{
    padding-bottom: 80px;
  }

  .header-info h1{
    font-size: 3em;
  }

  .header-info h2{
    font-size: 1.4em;
  }

  .header-logo img{
    width: 120px;
  }

  .title-p p{
    width: 90%;
  }

  .project{
    width: 90%;
    margin: 0 auto 35px;
  }

  .title{
    font-size: 1.2em;
  }

  .title-p p{
    font-size: 1.08em;
  }

  .icon img{
    height: 45px;
    width: 45px;
  }

  .footer p, .footer h4{
    font-size: 1em;
  }

  .social-icons-footer a{
    margin: 25px;
  }

  footer{
    padding-bottom: 70px;
  }

  .signature{
    background-color: #F1F1F1;
    color: #323131;
  }

}

@media screen and (max-width: 600px){

  .nav-bar a,
  .btn-menu{
    padding: 15px 105px;
  }

}

@media screen and (max-width: 550px){

  .nav-bar a,
  .btn-menu{
    padding: 15px 90px;
  }  

  .header-info,
  .header-logo{
    width: 85% ;
  }

}

@media screen and (max-width: 480px){

  .nav-bar a,
  .btn-menu{
    padding: 15px 80px;
  }  
 
  .nav-bar li:nth-of-type(1){
    margin-right: 0px;
  }

  #branding{
    width: 100%;
  }

  .header-info,
  .header-logo{
    width: 90% ;
  }

   .header-info h1{
    font-size: 2.8em;
  }

  .header-info h2{
    font-size: 1.2em;
  }

}

@media screen and (max-width: 450px){

  .nav-bar a,
  .btn-menu{
    padding: 15px 70px;
  }  

}

@media screen and (max-width: 375px){

  .nav-bar a,
  .btn-menu{
    padding: 15px 55px;
  }

}

@media screen and (max-width: 350px){

  .header-info,
  .header-logo{
    width: 100% ;
  }

}


